
###> symfony/framework-bundle ###

###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###

###< symfony/phpunit-bridge ###

###> lexik/jwt-authentication-bundle ###

###< lexik/jwt-authentication-bundle ###
.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/